@using ProyectoINE.Models.ViewModels
@model TipoViewModel
@{
    ViewData["Title"] = "Depreciación"; 
    ViewData["Description"] = "Calculadora de depreciación de activos.";
    ViewData["Favicon"] = "/Yoshis_Egg.ico";
}



<h1>Calculadora de depreciación de activos</h1>

<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Calcular" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CostoInicial"></label>
                        <input asp-for="CostoInicial" class="form-control" />
                        <span asp-validation-for="CostoInicial" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="SelectedValue" class="control-label"></label>
                        <select asp-for="SelectedValue" class="form-control" asp-items="Model.Items" id="deprMethodSelect">
                            <option value="">Seleccione el tipo de depreciación</option>
                        </select>
                        <span asp-validation-for="SelectedValue" class="text-danger"></span>

                        <!-- mensaje para uso de digitos de los anios -->
                        <div id="mensajeUso" style="display:none; margin-top:10px; color: blue;">
                            Para este método, la tasa de uso debe representar el año k.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ValorResidual"></label>
                        <input asp-for="ValorResidual" class="form-control" />
                        <span asp-validation-for="ValorResidual" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="VidaUtilAnios"></label>
                        <input asp-for="VidaUtilAnios" class="form-control" />
                        <span asp-validation-for="VidaUtilAnios" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="TasaUso"></label>
                        <input asp-for="TasaUso" class="form-control" />
                        <span asp-validation-for="TasaUso" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ImpactoFiscal"></label>
                        <input asp-for="ImpactoFiscal" class="form-control" />
                        <span asp-validation-for="ImpactoFiscal" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <hr />
                    <div class="form-group">
                        <input type="submit" value="Calcular" class="btn btn-success" />
                    </div>
                </div>
                <div class="col-md-6">
                    
                    @if (ViewBag.MensajeContable != null)
                    {
                        <div style="margin-top:10px; color: blue;">
                            La mejor opción es Contable es:
                            <br />
                        </div>
                        <p>@ViewBag.MensajeContable</p>
                    }
                    @if (ViewBag.MensajeFiscal != null)
                    {
                        <div style="margin-top:10px; color: blue;">
                            La mejor opción Fiscal es:
                            <br />
                        </div>
                        <p>@ViewBag.MensajeFiscal</p>
                    }
                </div>
            </div>
        </form>
    </div>
</div>

@if (ViewBag.AlertMessage != null)
{
    <br>
    <p>Resultado:@ViewBag.AlertMessage</p>
}



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        const select = document.getElementById('deprMethodSelect');
        const mensaje = document.getElementById('mensajeUso');

        select.addEventListener('change', () => {
            if (select.value === "4") {
                mensaje.style.display = 'block';
            } else {
                mensaje.style.display = 'none';
            }
        });

        // Mostrar mensaje si ya estaba seleccionado "4" al cargar la página
        if (select.value === "4") {
            mensaje.style.display = 'block';
        }
    </script>
}
